@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply transition duration-300 ease-in-out;
}

button:hover {
    @apply brightness-110;
}

button:active {
    @apply brightness-50;
}

a {
    @apply transition duration-300 ease-in-out;
}

a:hover {
    @apply text-ash;
}
